/* font link  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* universal style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}
body{
    
    background-color: #E3F4F4;
}

/* navbar logo img style */
#brandLogo,#footerLogo{
    width: 60px !important;
    object-fit: cover;
}

#Navbar{
    background-color: #4ac6d9 !important;
    height: 80px;
}

footer{
    background-color: #05BFDB !important;

}

/* latest pics style  */
.latestPic{
    height: 300px;
    object-fit: cover;
}

#loginBtn{
    background-color: #05BFDB !important;

}

#userPic{
    width: 50px !important;
    height: 50px;
}

#toyImg{
    height: 100px;
}